<%= content_tag_for :li, task, data: { url: task_path(task), date: task.date.to_i }, class: "#{"complete" if task.complete}" do %>
  <%= check_box_tag "#{dom_id task}_checkbox", true, task.complete, class: "task_checkbox" %>
  <%= label_tag "#{dom_id task}_checkbox", "<span class=\"content\">#{task.content}</span> <span class=\"date\">on #{task.date.strftime("%b %-d, %Y")}</span>".html_safe %>
<% end %>