#incomplete_tasks {
  margin: 30px 0;
}

#tasks {
  .date {
    display: none;
  }
}

h4 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 7px;
}

.task_list {
  margin: 0;
  font-size: 14px;
  
  .placeholder {
    font-style: oblique;
    display: none;
  }
  
  .overdue_list, .late {
    .date_heading {
      color: #E50000;
      
      a {
        color: #E50000;
      }
    }
  }
  
  .date_heading {
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 20px;
    margin-left: 50px;
    color: #111;
    
    a {
      text-decoration: none;
      color: #111;
    }
  }
  
  .task {
    margin-bottom: 5px;
    line-height: 18px;
    position: relative;
    padding-left: 50px;
    
    .icon-trash {
      position: absolute;
      color: #ccc;
      margin-top: 1px;
      margin-left: -50px;
      text-decoration: none;
      display: none;
    }
    
    .icon-edit {
      position: absolute;
      color: #ccc;
      margin-top: 2px;
      margin-left: -25px;
      text-decoration: none;
      display: none;
    }
    
    .icon-trash:hover {
      color: #E50000;
    }
    
    .icon-edit:hover {
      color: #33823B;
    }
    
    &.complete {
      opacity: 0.4;
      font-size: 12px;
      
      .content {
        text-decoration: line-through;
      }
    }
    
    input[type="checkbox"] {
      float: left;
      width: 3%;
    }
    
    .content {
      float: right;
      width: 94%;
      
      a {
        font-weight: bold;
        color: #33823B;
      }
    }
  }
}