<% path = @website.default_page_id == page.id ? root_path : public_page_path(page.permalink) %>
<li class="<%= "selected" if path == request.path %> <%= "parent_of_selected" if @page.parent_id == page.id %>">
	<%= link_to page.title, path %>
	<ol class="subnav">
		<%= render page.children %>
	</ol>
</li>