<h1>Dashboard</h1>

<div class="dashboard_widget">
  <h2><%= current_user.contacts.count %></h2>
  <p class="small_link">Contacts</p>
</div>

<div class="dashboard_widget">
  <h2><%= current_user.tasks_for(Time.now + 7.days).count %></h2>
  <p class="small_link">
    This Week's Tasks
  </p>
</div>

<% if current_user.emailer? %>
  <div class="dashboard_widget">
    <h2><%= current_user.contacts.emailable.count %></h2>
    <p class="small_link">
      Subscribed Contacts
    </p>
  </div>
<% end %>

<div class="clear"></div>