<% if @permalink == "book" %>
  
  <% title "Thanks For Your Support!" %>

  <p class="normal">
    To download your book, <%= link_to "click here", page_path("book/download") %>.
  </p>
  
  <% unless user_signed_in? %>
    <p class="normal">
      Good software can save (and make) you thousands of dollars per year!
      Have a peek at <%= link_to "Touch Base", root_path %> to really start reaching your business goals.
    </p>
  <% end %>
  
<% end %>