<h1>You've made the right choice!</h1>

<p class="normal">
  The system is all about harnessing the connections you already have.
  Leveraging your current friends and acquaintances can connect you with an unlimited supply of ready-to-go customers and leads - and <strong>they'll want to pass your name along</strong>.
</p>

<p class="normal">
  We won't stall you any more. Come on in and...
</p>

<center>
  <%= link_to "Start Adding Your Contacts! &nbsp; &rarr;".html_safe, new_contact_path, class: "blue button" %>
</center>