<% cache contact do %>
  <%= content_tag_for :tr, contact do %>
    <td class="name"><%= link_to contact.name, contact %></td>
    <% @fields.each do |field| %>
      <% if field.data_type == "datetime" %>
        <td><%= link_to Formatter.format("datetime", contact.data[field.permalink]).to_s, contact %></td>
      <% elsif field.data_type == "boolean" %>
        <% if contact.data[field.permalink] == "true" %>
          <td><i class="icon-ok"></i></td>
        <% else %>
          <td><i class="icon-remove"></i></td>
        <% end %>
      <% else %>
        <td><%= link_to contact.data[field.permalink].to_s, contact %></td>
      <% end %>
    <% end %>
  <% end %>
<% end %>