<h1>Followups</h1>

<ul id="followups">
  <%= render @followups %>
</ul>

<div class="center" style="margin: 50px 0 20px 0; ">
  <%= link_to "Create Another Followup", new_followup_path, class: "blue button" %>
</div>