body {
  font-family: Helvetica Neue, Helvetica, Arial, Sans Serif;
  background: #F3F4F3;
  color: #111;
  font-size: 14px;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  text-align: center;
}

h4 {
  margin-top: 20px;
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 10px;
}

p.normal {
  font-size: 15px;
  line-height: 22px;
  margin: 20px 0; 
}

a {
  &:hover {
    color: #19709b;
  }
}

hr {
  height: 1px;
  border: 0;
  background: #eee;
}

#nav_placeholder {
  width: 100%;
  font-size: 17px;
  padding: 17px 0px;
}

#nav {
  float: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  border-bottom: 4px solid #0F172A;
  
  /*
  &.hide_i {
      .icon {
        display: none !important;
      }
    }*/
  
  
  li {
    display: inline;
    position: relative;
    
    .submenu {
      display: none;
    }
  }
  
  a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 20px;
    font-size: 13px;
    color: #B1DEF7;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    /*transition-property: background-color;
    transition-duration: 50ms;*/
    
    &:hover {
      color: #eee;
    }
    
    .icon {
      font-size: 17px;
      margin-right: 9px;
      
      &.icon-ok {
        color: inherit;
      }
    }
    
    .icon_number {
      display: inline-block;
      padding: 3px 0px;
    }
    
    &.selected {
      background: #0F172A;
      color: #eee;
      
      i {
        display: inline-block;
      }
    }
    
    &.disabled {
      opacity: 0.3;
    }
  }
  
  /*
  li:hover > .submenu {
      display: block;
    }*/
}

#loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #eee;
  background-color: rgba(238, 238, 238, 0.9);
  background-image: url(loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 8;
}

textarea, input[type="text"], input[type="email"], input[type="password"], select {
  box-sizing: border-box;
  font-size: 15px;
  border: 1px solid #ccc;
  color: #111;
  border-radius: 2px;
  padding: 7px;
  outline: none;
  box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.1);
  
  &:focus {
    transition-property: all;
    transition-duration: 500ms;
    box-shadow: inset 0px 0px 7px #19709b;
    border-color: #19709b;
  }
}

.container {
  width: 100%;
  max-width: 520px;
  margin: 50px auto 50px auto;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.field {
  margin: 20px 0;
  
  label {
    padding-bottom: 3px;
    display: inline-block;
  }
}

.notice {
  background: #CEE3DA;
  color: #446A59;
  border: 1px solid #6AA58B;
  padding: 15px;
  font-size: 13px;
  line-height: 18px;
  margin: 20px 0;
}

.errors, #error_explanation {
  background: #E3B0A7;
  color: #6A1418;
  border: 1px solid #6A1418;
  padding: 15px;
  font-size: 13px;
  line-height: 18px;
  margin: 20px 0;
}

.field_with_errors {
  display: inline;
}

.small_link {
  font-size: 12px;
  line-height: 18px;
  color: #999;
  margin-top: 6px;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.faded {
  color: #aaa;
}

.full_width {
  width: 100%;
  box-sizing: border-box;
}

.block {
  display: block;
}

.icon-trash {
  color: #777;
  
  &:hover {
    color: #BB1300;
  }
}

table {
  th {
    font-weight: bold;
    font-size: 14px;
  }
}

strong {
  font-weight: bold;
}

.icon-ok {
  color: green;
}

.icon-remove {
  color: #920000;
}

.mobile_only {
  display: none !important;
}

.desktop_only {
  display: inline-block !important;
}

.back {
  display: inline-block;
  margin-bottom: 15px;
}

.advanced {
  display: none;
}

.center {
  text-align: center !important;
}

.hide {
  display: none;
}