#contacts_wrapper {
  background: #fff;
  position: absolute;
  left: 220px;
  right: 0;
  top: 0;
  
  #contacts {
    width: 100%;
    font-size: 13px;
  
    th {
      font-weight: bold;
    }
  
    th, td {
      padding: 6px;
      text-align: center;
    
      &.name {
        text-align: left;
      }
    }
  }
}

#import_progress_bar {
  width: 100%;
  border: 1px solid #6AA58B;
  
  #import_progress {
    height: 20px;
    background: blue; 
  }
}