#followups {
  margin: 30px 0;
  
  .followup {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
    color: #182843;
    
    &:hover {
      color: #19709b;
      
      .timing, .criteria {
        color: #19709b;
      }
    }
    
    .description {
      font-size: 15px;
      font-weight: bold;
    }
    
    .timing {
      font-size: 13px;
      color: #999;
      margin-top: 4px;
    }
    
    .criteria {
      line-height: 18px;
      list-style: disc;
      font-size: 13px;
      color: #999;
      font-style: oblique;
      margin-left: 30px;
      margin-top: 4px;
    }
  }
}

#filter_template {
  display: none;
}

.filter_options {
  margin-top: 10px;
  font-size: 12px;
  background: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 5px 10px 10px 10px;
  
  #filters_container {
    width: 100%;
    
    td {
      padding: 5px 6px;
      
      input, select {
        width: 100%;
        font-size: 12px;
      }
    }
  }
}