@media (max-width: 720px) {
  #nav_placeholder {
    display: none;
  }
  
  .container {
    max-width: none;
    margin: 0 auto !important;
    width: 100%;
    position: static !important;
    padding: 15px 15px 90px 15px;
  }
  
  #sidebar {
    display: none;
  }
  
  #nav {
    top: auto;
    bottom: 0;
    display: block;
    
    li {
      float: none;
      margin-right: -5px;
      
      a {
        width: 20%;
        padding: 14px 0px;
        margin: 0;
        text-align: center;
      
        .icon {
          margin: 0 !important;
        }
    
        .word {
          display: none;
        }
      }
    }
  }
  
  .task {
    
  }
}