.task_list {
  margin: 30px 0;
  font-size: 14px;
  
  .task {
    margin-bottom: 5px;
    
    &.complete {
      text-decoration: line-through;
      opacity: 0.4;
      font-size: 12px;
    }
  }
}