#date {
  text-align: center;
  color: #777;
  font-size: 15px;
  margin: 5px 0;
}

#incomplete_tasks {
  margin: 30px 0;
}

#tasks {
  .date {
    display: none;
  }
}

.task_list {
  margin: 0;
  font-size: 14px;
  
  .placeholder {
    font-style: oblique;
    display: none;
  }
  
  .date_heading {
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 20px;
    color: #111;
    
    a {
      text-decoration: none;
      color: red;
    }
  }
  
  .task {
    margin-bottom: 5px;
    line-height: 18px;
    
    &.complete {
      opacity: 0.4;
      font-size: 12px;
      
      .content {
        text-decoration: line-through;
      }
    }
    
    input[type="checkbox"] {
      float: left;
      width: 5%;
    }
    
    .content {
      float: right;
      width: 92%;
      
      a {
        font-weight: bold;
        color: #005782;
      }
    }
  }
}