<h2>Emails</h2>

<table id="contacts">
  <thead>
    <tr>
      <th>Subject</th>
      <th style="width: 15%; " class="center"># Rcpts</th>
    </tr>
  </thead>
  
  <tbody>

    <% @emails.each do |email| %>
      <tr>
        <td class="name"><%= link_to email.subject, email %></td>
        <td class="center"><%= link_to email.tasks.count, email %></td>
      </tr>
    <% end %>
    
  </tbody>
</table>
