<%= link_to "&larr; Back".html_safe, :back, class: "small_link back" %>

<h1><%= @email.subject %></h1>

<div class="center" style="margin: 20px 0; ">
  <p class="small_link"><%= pluralize @email.tasks.count, "recipient" %></p>
</div>

<hr style="margin-bottom: 30px; " />

<p class="normal">
  <%= @email.plain.gsub("\n", "<br>").html_safe %>
</p>