<div class="notice">
  <div id="import_progress_bar">
    <div id="import_progress" data-progress="<%= current_user.import_progress %>" style="width: <%= current_user.import_progress == 100 ? 0 : current_user.import_progress %>%; " data-url="<%= user_path(current_user) %>"></div>
  </div>

  <p>
    You have successfully uploaded a file. We're uploading it for you now! Go grab a coffee while we analyze your contacts (no need to refresh the page).<br>
    <span class="contacts_count"><%= pluralize current_user.contacts_count, "Contact" %></span> added thus far.
  </p>

  <script>
    setTimeout(function() {
      Import.poll()
    }, 1500);
  </script>
</div>