#contacts {
  width: 100%;
  font-size: 13px;
  
  th {
    font-weight: bold;
  }
  
  th, td {
    padding: 6px;
    text-align: center;
    
    &.name {
      text-align: left;
    }
  }
}

#import_progress_bar {
  width: 100%;
  
  #import_progress {
    height: 20px;
    background: blue; 
  }
}